body {
    background-color: #1D4221;
    color: white;
    font-family: "Archivo Black", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
    }

    button {
        background-color: aqua;
        color:black;
        font-family: "Archivo Black", sans-serif;
    }

